
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    /* background-color: lightcoral; */
    justify-content: center;
    align-items: center;
}

.box {
    /* background-color: aliceblue; */
    min-height: 500px;
    max-width: 1150px;
    padding: 2rem 1rem;

}

.container h1 {
    line-height: 32px;
    font-weight: 900;
}

.container li {
    margin: 2px;
    font-size: 20px;
}

.title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.paragraph {
    margin-bottom: 40px;
}

.butttonContainer {
    display:flex;
    justify-content: flex-end;
    width: 95%;
    /* background-color: aliceblue; */
    /* margin-top: 10rem; */
}


.button {
    background-color: #0000c4;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 30px;
    transition: 125ms ease-in-out;
    cursor: position;
}

.button:hover {
    background-color: white;
    color: #0000c4;
    transition: 125ms ease-in-out;
    border: 1px solid #0000c4;
}


.outterButton {
    background-color: white;
    color: #0000c4;
    height: 50px;
    width: 200px;
    border: 1px solid #0000c4;
    border-radius: 30px;
    margin-right: 15px;
    transition: 125ms ease-in-out;
}

.outterButton:hover {
    background-color: #0000c4;
    color: white;
    height: 50px;
    width: 200px;
    border: 1px solid #0000c4;
    border-radius: 30px;
    margin-right: 15px;
    transition: 125ms ease-in-out;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}
